
<table>
  <tr>
    <th>Cleaner name</th>
    <th>Booking Date</th>
    <th>start Time</th>  
    <th>end Time</th>
  </tr>
  <% @bookings.each do |booking| %>
    <tr>
      <td>
        <%= booking.cleaner.first_name %>
      </td>
      <td>
        <%= booking.date.strftime("%d/%m/%Y") %>
      </td>
      <td>
        <%= booking.start_time.strftime("%I:%M %p") %>
      </td>
      <td>
        <%= booking.end_time.strftime("%I:%M %p") %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'add booking', new_customer_booking_path %></br>
<%= link_to 'Sign Out', destroy_customer_session_path, method: 'delete' %>