<%= form_for :expense, url: expenses_path do |f| %>
  <p>
    Detail: <%= f.text_field :detail %><br />
    <br />
  </p>
  <p>
    price: <%= f.text_field :price %><br />
  </p>
  <p>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
